body {
    background-color: dimgrey;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.col-12 {
    width: 100%;
    border: 1px solid black;
}

.col-6 {
    width: 50%;
    border: 1px solid black;
    float: left;
}

.col-4 {
    width: 33.33333333%;
    border: 1px solid black;
    float: left;
}

.col-3 {
    width: 25%;
    border: 1px solid black;
    float: left;
}